body { 
  background: url(https://scontent-sin6-1.cdninstagram.com/t51.2885-15/e35/14714585_1215127578552414_6831063029505851392_n.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}